* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 12px;
}

#mivideo {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;     
    background-size:cover;
    height: auto;
    width: auto;
}
.contenido {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: auto;
    padding: 0px;
}
.parrafo {
    text-align: justify;
    margin-right: 40%;
        
}